*{
    margin: 0;
}
body{
    background-color: beige;
}
.head{
    width: 100%;
    height: 100px;
    background-color: aqua;
}
.img{
    height: 50px;
    width: fit-content;
    margin: 20px;
}
.rght{
    position: relative;
    left: 1000px;
    top: -30px;
}
.grad{
background-image: linear-gradient(to bottom,rgb(137, 137, 222),rgb(253, 159, 159),rgb(151, 242, 151),rgb(253, 253, 180));
height: auto;
width: 100%;
}
.inline{
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btt{
    padding: 10px;
}
.bbt1{
    border-radius:30px;
    background-color: aqua;
    padding: 15px;
    position: relative;
    left: 10%;
}
.cards{
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.crd{
    border: 3px solid black;
    border-radius: 50px;
    height: 250px;
    width: 200px;
    box-shadow: 1px 3px 10px;
}
.crd:hover{
    box-shadow:1px 3px 20px ;
}
.img1{
    height: 50px;
    width: fit-content;
    margin: 30px 20px;

}
.img3{
    display: none;
}
.bbt2{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 20px;
    position: relative;
    left: 45px;
    top: 20px;
}
.by{
    display: block;
}
.by2{
    display: none;
}
.hii{
    display: none;
}
.main{
    padding: 5px 150px;
}
@media (max-width:391px){
    .img3{
        width: 250%;
        height: fit-content;
        display: block;
    }
    .cards{
        flex-direction: column;
        justify-content: space-between;
    }
    .img4{
        display: none;
        }
        .by{
            display: none;
        }
        .by2{
            display: block;
        }
        .hii{
            display: block;
        }
        .main{
            padding: 5px 20px;
        }
    }
